body{
    background-image: linear-gradient(150deg, #deeff5 0, #b6dcea 16.67%, 
    #8ac6e1 33.33%, #55aed8 50%, #0096d0 66.67%, #0080c9 83.33%, #006bc2 100%);
    
    display: flex; /*Comportamento do elemento na pagina*/
}

/* Estilização do container */
.container{
display: flex;
justify-content: center;
align-items: center;
width: 100% ;
height: 100% ;
}